{% extends "base.html" %}
{% block content %}
    <h2>Transactions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Amount</th>
                <th>Token</th>
                <th>Stablecoin</th>
                <th>Total USD</th>
            </tr>
        </thead>
        <tbody id="transaction-list">
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.timestamp}}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.token }}</td>
                <td>{{ transaction.stable_coin }}</td>
                <td>{{ transaction.total_usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-3 mb-3">
        <a href="/ui/add" class="btn btn-primary">Add Transaction</a>
        <a href="/ui/tokens" class="btn btn-secondary">Manage Tokens</a>
    </div>
{% endblock %}

