{% extends "base.html" %}
{% block content %}
    <h2>Transactions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Amount</th>
                <th>Token</th>
                <th>Total USD</th>
            </tr>
        </thead>
        <tbody id="transaction-list">
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.timestamp}}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.token }}</td>
                <td>{{ transaction.total_usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/add" class="btn btn-primary">Add Transaction</a>
{% endblock %}
